.list{

  &__point{
    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        animation-name: slide-in;
        animation-duration: 0.3s;
        animation-timing-function: ease;
        animation-delay: $i * 0.2s;
      }
    }

  }

}

@keyframes slide-in {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }
