.list{

  &__point{
    opacity: 0;

    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        transition: opacity 0.3s ease $i * 0.2s;
      }
    }

  }

  &__point_visible{
    opacity: 1;

    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        transition: opacity 0.3s ease 1.0 - $i * 0.2s;
      }
    }
  }

}
